<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="ino_blog" id="ino_blog">
			<module before="Magento_Backend" name="Ino_Blog"/>
		</route>
	</router>
</config>
